body{
  margin: 0;
  background-color: #555555;
  color: #220707;
}

.title{
  margin: 50px 0 0 100px;  
}

.sub_title{
  margin-left: 120px;
}

.box{
  width: 250px;
  height: 300px;
  margin: 10px auto;
  background-color: #fff;
  border: 1px solid #888;
  border-radius: 5px;
}

.box header{
  position: relative;
  width: 100%;
  height: 90%;
}

.box h4{
  display: inline-block;
  width: 85px;
  margin: 0;
  margin-left: 10px;
}

.box p{
  display: inline-block;
  width: 100px;
}

.txt{
  position: absolute;
  bottom: 0;
}

.navbar{
  background-color: #fff;
  padding: 20px;
}

.navbar a{
  margin-right: 10px;
  text-decoration: none;
}

.m_r{
  display: inline-block;
  position: absolute;
  right: 20px;
}

.fruit_img{
  width: 80%;
  height: auto;
  position: absolute;
  top: 0;
}


/*
table.t1{
  border-collapse: collapse;
  width: 500px;
  margin: 10px auto;
}

table.t1 th, table.t1 td{
  border: 1px solid #fff;
  padding: 4px;
}
*/